In [ ]:
%pip install --upgrade plotly

In [16]:
import pyspark

In [ ]:
%pip install openpyxl
import pandas as pd


def excel_to_csv(name):
    pd.read_excel(name + ".xlsx").to_csv(name + ".csv", sep=",", index=False)


excel_to_csv("Athletes")
excel_to_csv("Coaches")
excel_to_csv("EntriesGender")
excel_to_csv("Medals")
excel_to_csv("Teams")

In [22]:
athletes = pd.read_csv("Athletes.csv")
coaches = pd.read_csv("Coaches.csv")
entriesGender = pd.read_csv("EntriesGender.csv")
medals = pd.read_csv("Medals.csv")
teams = pd.read_csv("Teams.csv")
athletes.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [23]:
medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

In [25]:
medals.sort_values("Rank by Total", inplace=True)
medals.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
4,5,ROC,20,28,23,71,3
3,4,Great Britain,22,21,22,65,4
2,3,Japan,27,14,17,58,5

In [1]:
import plotly.express as px

fig = px.bar(
    medals,
    x="Team/NOC",
    y=["Gold", "Silver", "Bronze"],
    title="Number of Medals per country",
)
fig.show()

NameError: name 'medals' is not defined